# Appwrite (Configuración del Cliente)
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://varios-appwrite-techpadah.fjueze.easypanel.host/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=6a65b6900038f0345d67
NEXT_PUBLIC_APPWRITE_DATABASE_ID=6a65bc1cf1155569e283

# Appwrite (Configuración del Servidor)
APPWRITE_API_KEY=your_appwrite_api_key

# Site URL (requerido para OAuth redirects)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
